:root { 
  --brown-1: #633720;
  --brown-2: #744529;
  --yellow-1: #F6ECBB;
  --yellow-2: #ECD574;
  --yellow-3: #E0BD4D;
}

html {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: white;
}

/* Navigation Bar */
nav {
  background-color: var(--brown-2);
  width: 100%;
  margin: auto;
  z-index: 99;
  position: relative;
}
.nav-container {
  width: 70%;
  height: auto;
  margin: auto;
  display: flex;
}
.nav-container a {
  margin: auto;
} 
.nav-container img {
  top: 50%;
  height: 3.5vh;
  margin: auto;
  margin-top: 5px;
  margin-right: 50px;
}
.nav-container img:hover {
  opacity: .9;
}
.search-bar { 
  margin: auto;
  width: 50%;
  height: 1vh;
  border-radius: 5px;
  background-color: var(--brown-1);
  border: none;
  color: white;
  padding: 10px;
}
.search-bar::placeholder {
  opacity: .8;
  color: white;
}
.nav-list li {
  text-align: center;
  display: inline-block;
  margin-left: 50px;
  font-weight: 600;
}
.nav-list i {
  margin-left: 10px;
}
.nav-list a{
  color: white;
  text-decoration: none;
  padding: 5px 0px;
}
#current {
  border-bottom: 2px solid white;
}
.nav-list a:hover { 
  color: var(--yellow-3);
  border-bottom: 2px solid var(--yellow-3);
}

@media only screen and (max-width: 1250px) {
  .nav-list {
      display: none;
  }
  .search-bar {
      width: 60%;
      padding: 8px;
      margin-top: 10px;
  }
  .search-bar::placeholder {
      font-size: 10px;
  }
  .nav-container a {
      width: 40%;
      margin: auto;
      margin-top: 8px;
  }
  .nav-container img {
      width: 70%;
      height: auto;
      margin: auto;
  }
  .movie-container {
      margin: auto;
  }
  .card {
      width: 20vw;
      height: 30vh;
      margin-left: 10px;
      margin-left: 10px;
  }
  .poster {
      width: 20vw;
  }
  .card h2 {
      font-size: 12px;
  }
  .list {
      margin-top: 15px;
      column-gap: 15px;
      line-height: 15px;
      margin-bottom: 0px;
      height: fit-content;
  }
  .list h2 {
      font-size: 16px;
  }
  .list p {
      font-size: 12px;
  }
  .overview {
      max-height: 5vh;
      overflow: hidden;
  }
  .poster-list {
      margin: auto;
      width: 27vw;
      height: auto;
  }

}